<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>转换小工具</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div>
        <div class="jumbotron">
            <div class=" row text-left ">
                <div class="mt-2">
                    <span class="glyphicon glyphicon-book"></span>
                    操作指导：目前只针对单个月份进行数据处理，并且提交时候设置年和月
                </div>
                <hr>
                <div class="mt-2">
                    未打卡表格预处理
                    <ol>
                        <li>确认 E列 没有空日期</li>
                    </ol>
                </div>
                <hr>
                <div class="mt-2">
                    单月份考勤表格预处理
                    <ol>
                        <li>总表中导出需要统计的月份，复制到新建的Excel中，如：2018年08月
                            <!--<img src="../../static/images/all.jpg" width="400"
                                 th:src="@{/images/pre.jpg}"/>-->
                        </li>
                        <li>
                            拆分A-C列合并的单元格，并且拆分后每个单元格有正确的值
                            <a href="https://jingyan.baidu.com/article/fea4511a1dcb4ff7ba912543.html" target="_blank">参考指导</a>
                        </li>
                        <li>
                            利用格式刷，去除文字的格式，调整文字方向，调整后的效果下载样表：
                            <a href="/download?type=local" target="_blank">样表</a>
                            <!--<img src="../../static/images/post.jpg" width="400"
                                 th:src="@{/images/post.jpg}"/></li>-->
                        </li>
                    </ol>
                </div>
                <hr>
                <div class="mt-2">
                    使用指导：
                    <ol>
                        <li>上传未打卡表格</li>
                        <li>上传考勤表格</li>
                        <li>点击提交</li>
                    </ol>

                </div>
            </div>
        </div>
        <form class="form-horizontal" enctype="multipart/form-data" action="/unclock"
              method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">未打卡表</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="unclockExcel"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">考勤表</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="attendExcel"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">年份</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="year"/>
                </div>
                <label class="col-sm-2 control-label">月份</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="month"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11"></div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>

        <!--<hr class="clear clearfix  mt-5">-->
        <div class="text-center text-danger" th:text="${errorInfo}"><!--${errorInfo}--></div>
    </div>

    <div class="clear clearfix  mt-5  text-left">
        转换结果:<a target="_blank" href="/download?type=result" th:text="${file}"></a>
    </div>
</div>

</body>
</html>